<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [routerLink]="['/']" class="navbar-brand"><b>Relson & Bruna</b></a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/presence']" class="nav-link">Confirmação Presença</a>
      </li>
      <li class="nav-item">
          <a [routerLink]="['/gift']" class="nav-link">Presentes</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/party']" class="nav-link">A Festa</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/confirm-gift']" class="nav-link">Confirmação</a>
          </li>
      <div *ngIf="currentUser">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clientes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/customer']">Cadastrar</a>
              <a class="dropdown-item" [routerLink]="['/customer-list']">Consultar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
      </div>
      <div *ngIf="currentUser">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Serviços
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['/job']">Cadastrar</a>
                <a class="dropdown-item" [routerLink]="['/job-list']">Consultar</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </li>
      </div>
      <div *ngIf="currentUser">
          <li class="nav-item">
            <a [routerLink]="['/scheduling']" class="nav-link">Agendamentos</a>
          </li>
      </div>
    </ul>
      <button *ngIf="!currentUser" class="btn btn-outline-info my-2 my-sm-0" type="button" [routerLink]="['/login']">Logar-se</button>
      <div *ngIf="currentUser">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="button" (click)="logout()">Sair</button>
      </div>
  </div>
</nav>