<!DOCTYPE HTML>
<html>

<head></head>

<body>
  <div class="div-principal">
    <!-- <div class="d-flex justify-content-center col-md-12">
      <div class="col-4 div-quadros">
        <img [src]="img20" (click)="addMoney(20)" class="img-presente" alt="teste">
        <span (click)="addMoney(20)" class="fa fa-plus-circle icone"></span>&nbsp;
        <span (click)="removeMoney(20)" class="fa fa-minus-circle icone"></span>
      </div>
      <div class="col-4 div-quadros">
        <img [src]="img50" class="img-presente" alt="teste">
        <span (click)="addMoney(50)" class="fa fa-plus-circle icone"></span>&nbsp;
        <span (click)="removeMoney(50)" class="fa fa-minus-circle icone"></span>
      </div>
      <div class="col-4 div-quadros">
        <img [src]="img100" class="img-presente" alt="teste">
        <span (click)="addMoney(100)" class="fa fa-plus-circle icone"></span>&nbsp;
        <span (click)="removeMoney(100)" class="fa fa-minus-circle icone"></span>
      </div>
    </div> -->
    <div class="col-md-12 ">
      <h4 class="text-white">Nossa 1ª opção de presentes é recebê-los em R$.</h4>
      <h5 class="text-white">Abaixo segue as opções disponíveis.</h5>
      <h6>Ao clicar em comprar você será direcionado à pagina de pagamento do MercadoPago. Lá você pode pagar com cartão de Crédito/Boleto entre outras opções.</h6>
    </div>
    <div class="row col-sm-12 text-white div-final">
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Vale-Presente R$50,00</h5>
            <a mp-mode="dftl" href="https://www.mercadopago.com/mlb/checkout/start?pref_id=134760540-92e63729-975b-4c0a-b69f-ed9214fc180c"
              name="MP-payButton" class='blue-ar-l-rn-none'>Pagar</a>
            <script type="text/javascript">
              (function () { function $MPC_load() { window.$MPC_loaded !== true && (function () { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js"; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); window.$MPC_loaded = true; })(); } window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null; })();
            </script>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Vale-Presente R$100,00</h5>
            <a mp-mode="dftl" href="https://www.mercadopago.com/mlb/checkout/start?pref_id=134760540-92e63729-975b-4c0a-b69f-ed9214fc180c"
              name="MP-payButton" class='blue-ar-l-rn-none'>Pagar</a>
            <script type="text/javascript">
              (function () { function $MPC_load() { window.$MPC_loaded !== true && (function () { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js"; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); window.$MPC_loaded = true; })(); } window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null; })();
            </script>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Vale-Presente R$200,00</h5>
            <a mp-mode="dftl" href="https://www.mercadopago.com/mlb/checkout/start?pref_id=134760540-92e63729-975b-4c0a-b69f-ed9214fc180c"
              name="MP-payButton" class='blue-ar-l-rn-none'>Pagar</a>
            <script type="text/javascript">
              (function () { function $MPC_load() { window.$MPC_loaded !== true && (function () { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js"; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); window.$MPC_loaded = true; })(); } window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null; })();
            </script>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Vale-Presente R$300,00</h5>
            <a mp-mode="dftl" href="https://www.mercadopago.com/mlb/checkout/start?pref_id=134760540-92e63729-975b-4c0a-b69f-ed9214fc180c"
              name="MP-payButton" class='blue-ar-l-rn-none'>Pagar</a>
            <script type="text/javascript">
              (function () { function $MPC_load() { window.$MPC_loaded !== true && (function () { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js"; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); window.$MPC_loaded = true; })(); } window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null; })();
            </script>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <!-- <img class="card-img-top" src="../../assets/presente01.jpg" alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">Vale-Presente R$500,00</h5>
            <a mp-mode="dftl" href="https://www.mercadopago.com/mlb/checkout/start?pref_id=134760540-92e63729-975b-4c0a-b69f-ed9214fc180c"
              name="MP-payButton" class='blue-ar-l-rn-none'>Pagar</a>
            <script type="text/javascript">
              (function () { function $MPC_load() { window.$MPC_loaded !== true && (function () { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js"; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); window.$MPC_loaded = true; })(); } window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null; })();
            </script>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 div-final text-white">
      <h5>Caso desejar nos presentear de outra maneira, nos chame via whatsapp para endereço/Conta para depósito!</h5>
    </div>
  </div>
</body>

</html>