<body class="">
  <div class="col-sm-12 div-principal">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center col-md-12">
            <h1 class="lbl-titulo">Save The Date!</h1>
          </div>
          <div class="d-flex justify-content-center col-md-12">
            <h2 class="lbl-subTitulo">10/10/2010</h2>
          </div>
          <div class="col-md-12">
            <h4>
              A cerimônia será realizada no cartório Civil de Taquaritinga às 10 horas.
            </h4>
            <h5>
              Rua dos bobos, nº 0 - Avenida Paulo Roberto Scander.
            </h5>
            <br>
            <h4>
              Vamos lhe receber para um delicioso jantar às 19 horas no Clube Rotary.
            </h4>
            <h5>
              Rua dos bobos, nº 0 - Avenida Paulo Roberto Scander.
            </h5>
            <br>
            <h2 class="lbl-subTitulo">#EsperamosVocês</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>